.transition-item {
  width: 90vw;
  margin-left: 5vw;
  height: 80px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 40px;
  font-size: 32px;
  color: #fff;
  background-color: #00ab84;
  margin-top: 20px;
}
.transition-child {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  background-color: #ff6767;
  position: fixed;
  top: 40%;
  left: 50%;
  bottom: 0;
  right: 0;
  // transform: translate3d(-50%, -50%, 0);
  margin: -200px 0 0 -200px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #fff;
  font-weight: bold;
}
.transition-children {
  width: 100vw;
  height: 100vh;
  background-color: #ff6767;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #fff;
  font-weight: bold;
}
