@import "../../style/theme.less";
@import "../../style/ellipsis.less";

.mini-appbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: @appbar-zIndex;
  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--full {
      .mini-appbar__icon {
        flex: 1;
      }
    }
  }
  &__right {
    visibility: hidden;
    opacity: 0;
  }
  &__delimiter {
    transform: scaleX(@appbar-delimiter-scale);
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &__title {
    .ellipsis();

    flex: 1;
    text-align: center;
    font-size: @appbar-title-font-size;
    font-weight: @appbar-title-font-weight;
    color: @appbar-title-black-color;
    line-height: @appbar-title-line-height;
    padding: 0 10px;

    &--white {
      color: #fff;
    }
  }
}
